<form action="" class="position-absolute top-50 start-50 translate-middle w-75">
  <li class="list-group-item d-flex justify-content-between align-items-start bg-secondary">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Folders</div>
    </div>
  </li>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-evenly align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Work</div>
      </div>
      <span class="nav-link">View items</span>
      <span class="nav-link">Remove</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Daily tasks</div>
      </div>
      <span class="nav-link">View items</span>
      <span class="nav-link">Remove</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Training routine</div>
      </div>
      <span class="nav-link nav-dark">View items</span>
      <span class="nav-link">Remove</span>
    </li>
  </ol>
</form>
