<div class="container animate__animated animate__fadeIn">
  <div class="card position-absolute top-50 start-50 translate-middle w-50" >
    <div class="card-header text-white bg-primary text-center">
      LOGIN FORM
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="button" routerLink="/home">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

